TEMPORAL_HOSTPORT="yourtemporal-namespace:7233"
TEMPORAL_NAMESPACE="yourtemporal-namespace"
TEMPORAL_CERT_FILE_PATH=/path/to/endentity/cert.pem
TEMPORAL_KEY_FILE_PATH=/path/to/endentity/cert.key
HTTP_SERVER_PORT=8042
LOG_ENVIRONMENT=dev
METRICS_LISTEN_ADDRESS="0.0.0.0:9098"
METRICS_SCOPE_PREFIX=""